name: ipadic on Linux

on:
  pull_request:
    paths:
      - ".github/workflows/test-linux-ipadic.yml"
      - "mecab/**"
      - "mecab-ipadic/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-linux-ipadic.yml"
      - "mecab/**"
      - "mecab-ipadic/**"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure
          make -j$(nproc)
          make check
          sudo make install
          sudo ldconfig
        working-directory: mecab
      - name: build ipadic euc-jp
        run: |
          ./autogen.sh
          ./configure
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

      - name: build ipadic shift-jis
        run: |
          ./autogen.sh
          ./configure --with-charset=sjis
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

      - name: build ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

  test-utf8:
    name: Test UTF-8 only mode
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure --enable-utf8-only
          make -j$(nproc)
          make check
          sudo make install
          sudo ldconfig
        working-directory: mecab
      - name: build ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic
