name: Python Binding on macOS

on:
  pull_request:
    paths:
      - ".github/workflows/test-darwin-python.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-darwin-python.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.8"
          - "3.7"
          - "3.6"
          - "3.5"
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: .github/setup-darwin.sh
      - name: restore cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/local
          key: v1-mecab-${{ runner.os }}-${{ hashFiles('mecab/src/*.cpp', 'mecab/src/*.h') }}

      - name: configure PATH
        run: echo "$HOME/local/bin" >> "$GITHUB_PATH"
      - name: install mecab
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh
          ./configure  --enable-utf8-only --prefix "$HOME/local"
          make -j2
          make install
        working-directory: mecab
      - name: install ipadic utf-8
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh --prefix "$HOME/local"
          ./configure --with-charset=utf8
          make
          make install
        working-directory: mecab-ipadic

      - name: setup python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - run: python -V
      - name: build and test
        run: |
          python setup.py build
          python setup.py install
          python test.py
        working-directory: mecab/python
