name: Python Binding on macOS

on:
  pull_request:
    paths:
      - ".github/workflows/test-darwin-python.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-darwin-python.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            python: "3.14"
          - os: macos-latest
            python: "3.13"
          - os: macos-latest
            python: "3.12"
          - os: macos-latest
            python: "3.11"
          - os: macos-latest
            python: "3.10"
          - os: macos-latest
            python: "3.9"
          - os: macos-latest
            python: "3.8"
          - os: macos-13
            python: "3.7"
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: setup
        run: .github/setup-darwin.sh
      - name: restore cache
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/local
          key: v1-mecab-${{ matrix.os }}-${{ hashFiles('mecab/src/*.cpp', 'mecab/src/*.h') }}

      - name: configure PATH
        run: |
          echo "$HOME/local/bin" >> "$GITHUB_PATH"
      - name: install mecab
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh
          ./configure  --enable-utf8-only --prefix "$HOME/local"
          make -j2
          make install
        working-directory: mecab
      - name: install ipadic utf-8
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh --prefix "$HOME/local"
          ./configure --with-charset=utf8
          make
          make install
        working-directory: mecab-ipadic

      - name: setup python ${{ matrix.python }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}
      - name: configure C/C++
        run: |
          echo "LD_LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "CPATH=$HOME/local/include" >> "$GITHUB_ENV"
      - run: python -V
      - name: build
        run: |
          python -m pip install .
        working-directory: mecab/python
      - name: test
        run: |
          python test.py
        working-directory: mecab/python
