name: ipadic on macOS

on:
  pull_request:
    paths:
      - '.github/workflows/test-darwin-ipadic.yml'
      - 'mecab/**'
      - 'mecab-ipadic/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-darwin-ipadic.yml'
      - 'mecab/**'
      - 'mecab-ipadic/**'

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: .github/setup-darwin.sh
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure
          make -j2
          make check
          sudo make install
        working-directory: mecab
      - name: build ipadic euc-jp
        run: |
          ./autogen.sh
          ./configure
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

      - name: build ipadic shift-jis
        run: |
          ./autogen.sh
          ./configure --with-charset=sjis
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

      - name: build ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic

  test-utf8:
    name: Test UTF-8 only mode
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: .github/setup-darwin.sh
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure --enable-utf8-only
          make -j2
          make check
          sudo make install
        working-directory: mecab
      - name: build ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
          make distclean
        working-directory: mecab-ipadic
