name: Python Binding on Linux

on:
  pull_request:
    paths:
      - ".github/workflows/test-linux-python.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-linux-python.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
          - "3.8"
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: restore cache
        id: cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/local
          key: v1-mecab-${{ runner.os }}-${{ hashFiles('mecab/src/*.cpp', 'mecab/src/*.h') }}

      - name: configure PATH
        run: |
          echo "$HOME/local/bin" >> "$GITHUB_PATH"
      - name: install mecab
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh
          ./configure  --enable-utf8-only --prefix "$HOME/local"
          make -j$(nproc)
          make install
          sudo ldconfig
        working-directory: mecab
      - name: install ipadic utf-8
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh --prefix "$HOME/local"
          ./configure --with-charset=utf8
          make
          make install
        working-directory: mecab-ipadic

      - name: setup python ${{ matrix.python }}
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: ${{ matrix.python }}
      - name: configure C/C++
        run: |
          echo "LD_LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "CPATH=$HOME/local/include" >> "$GITHUB_ENV"
      - run: python -V
      - name: build
        run: |
          python -m pip install .
        working-directory: mecab/python
      - name: test
        run: |
          python test.py
        working-directory: mecab/python
