name: mecab on MinGW

on:
  pull_request:
    paths:
      - ".github/workflows/test-mingw.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-mingw.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: msys2/setup-msys2@fb197b72ce45fb24f17bf3f807a388985654d1f2 # v2.29.0
        with:
          install: >
            autoconf-wrapper
            automake-wrapper
            autotools
            bison
            make
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-libtool
            mingw-w64-x86_64-libiconv
      - name: configure
        run: |
          ./autogen.sh
          ./configure --host=x86_64-w64-mingw32
        shell: msys2 {0}
        working-directory: mecab
      - name: make
        run: |
          make all
          make check
          make install
        shell: msys2 {0}
        working-directory: mecab

      - name: build ipadic
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make all
          make install
        shell: msys2 {0}
        working-directory: mecab-ipadic
