name: mecab on MinGW

on:
  pull_request:
    paths:
      - '.github/workflows/test-mingw.yml'
      - 'mecab/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-mingw.yml'
      - 'mecab/**'

jobs:
  test:
    name: Test
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
          key: ${{ runner.os }}-mingw-chocolatey-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-mingw-chocolatey-
      - name: install MSYS2
        run: |
          choco install --no-progress msys2
      - name: Set ENV
        run: |
          echo '::set-env name=PATH::C:\tools\msys64\bin;C:\tools\msys64\usr\bin;C:\tools\msys64\mingw64\bin;'
      - name: setup MSYS2
        run: |
          bash.exe -c "pacman-key --init"
          bash.exe -c "pacman-key --populate msys2"
          pacman.exe -Sy
          pacman.exe -S --verbose --noconfirm --noprogressbar --needed autoconf bison make automake1.16 automake-wrapper mingw-w64-x86_64-gcc mingw-w64-x86_64-libtool
      - name: configure
        run: |
          bash.exe -c ./autogen.sh
          bash.exe -c ./configure --host=x86_64-w64-mingw32
        shell: cmd
        working-directory: mecab
      - name: make
        run: |
          make all
          make check
          make install
        shell: cmd
        working-directory: mecab

      - name: build ipadic
        run: |
          bash.exe -c ./autogen.sh
          bash.exe -c ./configure --with-charset=utf8
          make all
          make install
        shell: cmd
        working-directory: mecab-ipadic

      - name: install additional package for building perl XS
        run: |
          pacman.exe -Sy
          pacman.exe -S --verbose --noconfirm --noprogressbar --needed msys2-runtime-devel mingw-w64-x86_64-perl
      - run: perl -V
      - name: build and test perl binding
        run: |
          perl Makefile.PL "INC=-I/usr/include -I/mingw64/lib/perl5/core_perl/CORE"
          make
          make test
        working-directory: mecab/perl
