name: mecab on macOS

on:
  pull_request:
    paths:
      - ".github/workflows/test-darwin.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-darwin.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: setup
        run: .github/setup-darwin.sh
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure
          make -j2
          make check
          sudo make install
        working-directory: mecab

  test-utf8:
    name: UTF-8 only mode
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: setup
        run: .github/setup-darwin.sh
      - name: test mecab
        run: |
          ./autogen.sh
          ./configure --enable-utf8-only
          make -j2
          make check
          sudo make install
        working-directory: mecab
