name: mecab on cygwin

on:
  pull_request:
    paths:
      - ".github/workflows/test-cygwin.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-cygwin.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: windows-2022
    steps:
      - run: git config --global core.autoCRLF false
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: cache
        with:
          path: |
            C:\tools\cygwin
          key: ${{ runner.os }}-cygwin-chocolatey-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cygwin-chocolatey-
      - name: Install cygwin packages
        run: |
          choco install --no-progress cygwin
          C:\tools\cygwin\cygwinsetup.exe -qgnNdO -R C:/tools/cygwin -s http://mirrors.kernel.org/sourceware/cygwin/ -P autoconf,bison,gcc-g++,make,libtool,m4,aclocal,automake,libiconv-devel,gettext-devel,libcrypt-devel
        shell: cmd
        if: steps.cache.outputs.cache-hit != 'true'
      - name: set PATH
        run: |
          echo "C:\tools\cygwin\usr\local\bin" >> "$GITHUB_PATH"
          echo "C:\tools\cygwin\bin" >> "$GITHUB_PATH"
          echo "C:\tools\cygwin\usr\bin" >> "$GITHUB_PATH"
        shell: bash

      - name: configure
        run: |
          bash.exe -c "./autogen.sh; ./configure"
        shell: cmd
        working-directory: mecab
      - name: make
        run: |
          bash -c "make all; make check; make install"
        shell: cmd
        working-directory: mecab

      - name: build ipadic
        run: |
          bash -c "autogen.sh; ./configure --with-charset=utf8; make all; make install"
        shell: cmd
        working-directory: mecab-ipadic
      # - run: perl -V
      # - name: build and test perl binding
      #   run: |
      #     bash.exe -c "perl Makefile.PL"
      #     make
      #     make test
      #   working-directory: mecab/perl
