name: Ruby Bindings on Linux

on:
  pull_request:
    paths:
      - ".github/workflows/test-linux-ruby.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-linux-ruby.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "4.0"
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
          - "3.0"
          - "2.7"
          - "2.6"
          - "2.5"
          - "2.4"
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: restore cache
        id: cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/local
          key: v1-mecab-${{ runner.os }}-${{ hashFiles('mecab/src/*.cpp', 'mecab/src/*.h') }}

      - name: configure PATH
        run: |
          echo "$HOME/local/bin" >> "$GITHUB_PATH"
      - name: install mecab
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh
          ./configure  --enable-utf8-only --prefix "$HOME/local"
          make -j$(nproc)
          make install
          sudo ldconfig
        working-directory: mecab
      - name: install ipadic utf-8
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh --prefix "$HOME/local"
          ./configure --with-charset=utf8
          make
          make install
        working-directory: mecab-ipadic

      - name: setup ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@b90be12699fdfcbee4440c2bba85f6f460446bb0 # v1.279.0
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: configure C/C++
        run: |
          echo "LD_LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "LIBRARY_PATH=$HOME/local/lib" >> "$GITHUB_ENV"
          echo "CPATH=$HOME/local/include" >> "$GITHUB_ENV"
      - run: ruby -v
      - name: build and test
        run: |
          ruby extconf.rb
          make
          make install
          ruby test.rb
        working-directory: mecab/ruby
