name: mecab on cygwin

on:
  pull_request:
    paths:
      - ".github/workflows/test-cygwin.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-cygwin.yml"
      - "mecab/**"

jobs:
  test:
    name: Test
    runs-on: windows-latest
    steps:
      - run: git config --global core.autoCRLF false
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            C:\Users\runneradmin\AppData\Local\Temp\chocolatey
            C:\tools\cygwin\package
          key: ${{ runner.os }}-cygwin-chocolatey-${{ matrix.os }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cygwin-chocolatey-${{ matrix.os }}-
            ${{ runner.os }}-cygwin-chocolatey-
      - name: Install cygwin base packages with chocolatey
        run: |
          choco config get cacheLocation
          choco install --no-progress cygwin
      - name: Install cygwin additional packages
        run: |
          C:\tools\cygwin\cygwinsetup.exe -qgnNdO -R C:/tools/cygwin -s http://mirrors.kernel.org/sourceware/cygwin/ -P autoconf,bison,gcc-g++,make,libtool,m4,aclocal,automake,libiconv-devel,gettext-devel,libcrypt-devel
        shell: cmd
      - name: configure
        run: |
          ./autogen.sh
          ./configure
        shell: C:\tools\cygwin\bin.exe --noprofile --norc -e -o pipefail {0}
        working-directory: mecab
      - name: make
        run: |
          make all
          make check
          make install
        shell: C:\tools\cygwin\bin.exe --noprofile --norc -e -o pipefail {0}
        working-directory: mecab

      - name: build ipadic
        run: |
          autogen.sh
          ./configure --with-charset=utf8
          make all
          make install
        shell: C:\tools\cygwin\bin.exe --noprofile --norc -e -o pipefail {0}
        working-directory: mecab-ipadic
      # - run: perl -V
      # - name: build and test perl binding
      #   run: |
      #     bash.exe -c "perl Makefile.PL"
      #     make
      #     make test
      #   working-directory: mecab/perl
