name: Ruby Bindings on macOS

on:
  pull_request:
    paths:
      - '.github/workflows/test-darwin-ruby.yml'
      - 'mecab/**'
  push:
    paths:
      - '.github/workflows/test-darwin-ruby.yml'
      - 'mecab/**'

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.4'
          - '2.5'
          - '2.6'
    steps:
      - uses: actions/checkout@v2
      - name: install mecab
        run: |
          ./configure
          make -j$(nproc)
          sudo make install
          sudo ldconfig
        working-directory: mecab
      - name: install ipadic utf-8
        run: |
          ./configure --with-charset=utf8
          make
          sudo make install
        working-directory: mecab-ipadic
      - name: setup ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: ruby -v
      - name: build and test
        run: |
          ruby extconf.rb
          make
          make install
          ruby test.rb
        working-directory: mecab/ruby
