name: Python Binding on macOS

on:
  pull_request:
    paths:
      - '.github/workflows/test-darwin-python.yml'
      - 'mecab/**'
  push:
    paths:
      - '.github/workflows/test-darwin-python.yml'
      - 'mecab/**'

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - '3.8'
          - '3.7'
          - '3.6'
          - '3.5'
    steps:
      - name: install autotools
        run: brew install automake autoconf libtool gettext
      - uses: actions/checkout@v2
      - name: install mecab
        run: |
          ./autogen.sh
          ./configure
          make -j$(nproc)
          sudo make install
        working-directory: mecab
      - name: install ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
        working-directory: mecab-ipadic
      - name: setup python ${{ matrix.python }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - run: python -V
      - name: build and test
        run: |
          python setup.py build
          python setup.py install
          python test.py
        working-directory: mecab/python
