name: mecab on cygwin

on:
  pull_request:
    paths:
      - '.github/workflows/test-cygwin.yml'
      - 'mecab/**'
  push:
    branches:
      - master
    paths:
      - '.github/workflows/test-cygwin.yml'
      - 'mecab/**'

jobs:
  test:
    name: Test
    runs-on: windows-latest
    steps:
      - run: git config --global core.autoCRLF false
      - uses: actions/checkout@v2

      - uses: actions/cache@v1
        with:
          path: C:\Users\runneradmin\AppData\Local\Temp\chocolatey
          key: ${{ runner.os }}-cygwin-chocolatey-${{ matrix.os }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cygwin-chocolatey-${{ matrix.os }}-
            ${{ runner.os }}-cygwin-chocolatey-
      - name: Install cygwin base packages with chocolatey
        run: |
          choco config get cacheLocation
          choco install --no-progress cygwin
      - uses: actions/cache@v1
        with:
          path: C:\tools\cygwin\package
          key: ${{ runner.os }}-cygwin-package-${{ matrix.os }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-cygwin-package-${{ matrix.os }}-
            ${{ runner.os }}-cygwin-package-
      - name: Install cygwin additional packages
        run: |
          C:\tools\cygwin\cygwinsetup.exe -qgnNdO -R C:/tools/cygwin -s http://mirrors.kernel.org/sourceware/cygwin/ -P autoconf,bison,gcc-g++,make,libtool,m4,aclocal,automake,libiconv,gettext-devel
        shell: cmd
      - name: Set ENV
        run: |
          echo '::set-env name=PATH::C:\tools\cygwin\bin;C:\tools\cygwin\usr\bin'
      - name: configure
        run: |
          bash.exe -c ./autogen.sh
          bash.exe -c ./configure
        shell: cmd
        working-directory: mecab
      - name: make
        run: |
          make all
          make check
          make install
        shell: cmd
        working-directory: mecab

      - name: build ipadic
        run: |
          bash.exe -c ./autogen.sh
          bash.exe -c ./configure --with-charset=utf8
          make all
          make install
        shell: cmd
        working-directory: mecab-ipadic

      - run: perl -V
      - name: build and test perl binding
        run: |
          perl Makefile.PL
          make
          make test
        working-directory: mecab/perl
        env:
          SHELL: bash.exe
