name: Java Binding on Linux

on:
  pull_request:
    paths:
      - '.github/workflows/test-linux-java.yml'
      - 'mecab/**'
  push:
    paths:
      - '.github/workflows/test-linux-java.yml'
      - 'mecab/**'

jobs:
  tets:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - '8'
          - '9'
          - '10'
          - '11'
          - '12'
          - '13'
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@v2
      - name: install mecab
        run: |
          ./autogen.sh
          ./configure
          make -j$(nproc)
          sudo make install
          sudo ldconfig
        working-directory: mecab
      - name: install ipadic utf-8
        run: |
          ./autogen.sh
          ./configure --with-charset=utf8
          make
          sudo make install
        working-directory: mecab-ipadic
      - name: setup java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - run: java -version
      - name: build and test
        run: |
          ./autogen.sh
          ./configure
          make
          LD_LIBRARY_PATH=. java test
        working-directory: mecab/java
