name: Java Binding on Linux

on:
  pull_request:
    paths:
      - ".github/workflows/test-linux-java.yml"
      - "mecab/**"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/test-linux-java.yml"
      - "mecab/**"

jobs:
  tets:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - "14"
          - "13"
          - "12"
          - "11"
          - "10"
          - "9"
          - "8"
    steps:
      - run: sudo apt-get install gettext
      - uses: actions/checkout@v2

      - name: restore cache
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ~/local
          key: v1-mecab-${{ runner.os }}-${{ hashFiles('mecab/src/*.cpp', 'mecab/src/*.h') }}

      - name: configure PATH
        run: echo "$HOME/local/bin" >> "$GITHUB_PATH"
      - name: install mecab
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh
          ./configure  --enable-utf8-only --prefix "$HOME/local"
          make -j$(nproc)
          make install
          sudo ldconfig
        working-directory: mecab
      - name: install ipadic utf-8
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./autogen.sh --prefix "$HOME/local"
          ./configure --with-charset=utf8
          make
          make install
        working-directory: mecab-ipadic

      - name: setup java ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - run: java -version
      - name: build and test
        run: |
          ./autogen.sh
          ./configure
          make
        # LD_LIBRARY_PATH=. java test # FIX ME
        working-directory: mecab/java
